<div class="page-header">
  <%= link_to new_recipe_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Recipe
  <% end %>
  <h1>Listing recipes</h1>
  
</div>
<% @recipes.each_slice(3) do |recipes| %>
<div class="row vertical-align">
  <% recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
  
<% end %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @recipes) do |recipe| %>
            <td><%= recipe.title %></td>
            <td><%= recipe.description %></td>
            <td><%= recipe.user %></td>
            <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
